body {
    width: 300px;
    font-family: "Arial", sans-serif;
    background-image: linear-gradient(to right, rgb(244, 193, 193), rgb(103, 104, 108));
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
  } 
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #inputTask {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #141313;
    box-sizing: border-box;
  }
  
  #inputTask:focus {
    outline: none;
    border-color: #d50ba6;
  }
  
  #error-msg {
    font-size: .80rem;
    color: red;
  }
  
  #addTaskButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0eea11;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #addTaskButton:hover {
    background-color: #023506;
  }
  
  #ul-el {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  .taskItem {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .taskText {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .completed {
    text-decoration: line-through;
    color: rgb(115, 188, 248);
  }
  
  .removeButton {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .removeButton:hover {
    color: darkred;
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }